{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
       <div class="col-sm my-auto"><img src="/media/kat-maconie.jpg" class="img-left" alt="kat-maconie-parrot-shoe"></div>
        <div class="col-sm text-center my-auto">
            <a href="{% url 'home' %}" class="welome-link">
                <h1 class="welcome-logo-link logo-font pt-5 pb-3"><img src="/media/butterfly-logo.png" class="btf-logo" alt="kat-maconie-parrot-shoe">Unique Wings</h1>
            </a>
            <p class="welcome-text-style">...Hard to be seen...</p>
            <p class="welcome-text-style">...Made to be worn...</p>
            <div class="my-5">
                <h4>
                    <a href="" class="btn-shop-now btn btn-sm rounded-0 px-3">Shop Now</a>
                </h4>
            </div>
        </div>
        <div class="col-sm my-auto"><img src="/media/sophia-webster.jpg" class="img-right" alt="sophia-webster-butterfly-shoe"></div>
    </div>
</div>
{% endblock %}