@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

html {
    height: 100%;
}

body {
    /*background: url('/media/hero-image.jpg') no-repeat center center fixed;*/
    /*background-size: cover;*/
    height: calc(100vh - 164px);
    color: #14161F;
    font-family:'Roboto', sans-serif;
}
/* -----------------heading----------------- */
h4 {
    font-weight: 400;
    font-size:1.3rem;
}

.header-font {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 4px;
}
/*
.bg-color-white {
    background: #F5F9F9;
}*/
/* -----------------navbar and main page----------------- */
.bg-color-teal {
    background-color:#288FA4;
}
.bg-color-black {
    background: #14161F !important;
}
.navbar {
    background-color: #288fa4;
}
.dropdown-menu.show {
    background-color: #288fa4;
}
.btf-logo-nav {
    width: 63px;
    padding-right: 8px;
}
.nav-logo-link {
    width: fit-content;
    font-size: 2rem;
    color: #F5F9F9;
}
.nav-link {
    font-family: 'Lato', sans-serif;
    color: #F5F9F9 !important;
}
.nav-link:hover {
    color:#14161F !important;
}
.text-white {
    color: #F5F9F9 !important;
}
.text-pink {
    color:#F05193;
}
.text-teal {
    color: #288fa4;
}
.img-left {
    width: 100%;
 }
.img-right {
    width: 100%;
 }
.logo-font {
    font-family: 'Princess Sofia', cursive;
 }
.btf-logo {
    width: 78px;
    height: auto;
    padding-right: 10px;
}
.welcome-logo-link {
    font-size: 2.8rem;
    color: #14161F;
}
.welome-link:hover {
    text-decoration: none;
}
.welcome-text-style {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;
}
.header-container {
    background-color:#288FA4;
}

/*-----------------buttons-----------------*/
.btn-shop-now {
    background: #288FA4;
    color: #F5F9F9;
    min-width: 260px;
}
.btn-shop-now:hover,
.btn-shop-now:active,
.btn-shop-now:focus {
    background: #14161F;
    color: #F5F9F9;
}
.btn-search {
    background: #F5F9F9;
    color: #14161F !important;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background:#288FA4;
    color: #F5F9F9 !important;
}
.btn-white {
    background: #F5F9F9;
    color: #14161F !important;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background:#14161F;
    color: #F5F9F9 !important;
}
.dropdown-item {
    color: #F5F9F9
}
.badge-color,
.btn-teal {
    background: #288FA4 !important;
    color: #F5F9F9 !important;
}
.badge-color:hover,
.btn-teal:hover {
    background: #14161F !important;
    color: #F5F9F9 !important;
}
.btn-outline-teal {
    background: white;
    color: black !important; 
    border: 1px solid #288FA4;
}
.btn-outline-teal:hover,
.btn-outline-teal:active,
.btn-outline-teal:focus {
    background: #288FA4;
    color: white !important;
}

/* -----------------back to top button----------------- */
.btt-btn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
.btt-link:hover,
.footer-link:hover {
    text-decoration: none;
}
.btt-btn-color {
    background: #288FA4 !important;
    color: #F5F9F9 !important;
}
.btt-btn-color:hover {
    background: #14161F !important;
    color: #F5F9F9 !important;
}
.arrow-size {
    font-size: 2rem;
}
/* -----------------from Bulma----------------- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.border-blue {
    border: 1px solid #F5F9F9 !important;
}
/*
.text-black {
    color: #14161F !important;
}*/
.navbar-light .navbar-toggler {
    color: #F5F9F9;
    border-color: #F5F9F9;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #14161F;
    background-color: #288FA4;
}
/* -----------------Footer----------------- */
.white-divider {
    background: #F5F9F9;
    height: 1px;
}
.footer-headers {
    font-size: 1rem;
    letter-spacing: 1px;
}
.copyright {
    font-size: 0.9rem;
}
.footer-link {
    font-weight: 500;
}
.footer-link:hover {
    color:#14161F !important;
}
.social-link {
    padding: 6px 9px;
    height: 30px;
    width: 30px;
    text-align: center;    
    border-radius: 50%;
    background: #F5F9F9;
    color: #288FA4 !important;
}

.social-link:hover {
    background:#14161F ;
    color: #F5F9F9 !important;
}
/* ---------------products.html----------------- */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #FFF;
	z-index: -1;
}
.card-footer {
    background-color:#FFF ;
}

/* -----------------Toasts----------------- */

.message-container {
    position: fixed;
    top: 130px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}
.font-your-bag {
    font-weight: 700;
    font-family: 'Lato';
    text-transform: uppercase;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -----------------Media Queries----------------- */

/* Enlarged container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}
/* Lowering the top part in case the navigation bar is collapsed on a mobile device */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
