@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

html {
    height: 100%;
}

body {
    /*background: url('/media/hero-image.jpg') no-repeat center center fixed;*/
    /*background-size: cover;*/
    height: calc(100vh - 164px);
    color: #14161F;
    font-family:'Roboto', sans-serif;
}


/* navbar and main page */
.bg-color-teal {
    background-color:#288FA4;
}
.btf-logo-nav {
    width: 63px;
    padding-right: 8px;
}
.nav-logo-link {
    width: fit-content;
    font-size: 2.1rem;
    color: #F5F9F9;
}
.nav-link {
    font-family: 'Lato', sans-serif;
    color: #F5F9F9;
}
.nav-link:hover{
    color:#d5d8d8;
}
.img-left {
    width: 100%;
 }
.img-right {
    width: 100%;
 }
 .logo-font {
    font-family: 'Princess Sofia', cursive;
 }
.btf-logo {
    width: 78px;
    height: auto;
    padding-right: 10px;
}
.welcome-logo-link {
    font-size: 2.8rem;
    color: #14161F;
}

.welome-link:hover {
    text-decoration: none;
}

.welcome-text-style {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;
}
.header-container {
    background-color:#288FA4;
}
/*buttons*/
.btn-shop-now {
    background: #288FA4;
    color: #F5F9F9;
    min-width: 260px;
}
.btn-shop-now:hover,
.btn-shop-now:active,
.btn-shop-now:focus {
    background: #14161F;
    color: #F5F9F9;
}
.btn-blue {
    background: #F5F9F9;
    color: #14161F !important;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background:#288FA4;
    color: #F5F9F9 !important;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.border-blue {
    border: 1px solid #F5F9F9 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}
