{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-4 mb-4">
        <!-- Header -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 post-header mx-auto">
                <hr>
                <h2 class="header-font logo-font mb-4 text-center">Blog Management</h2>
                <h5 class="text-muted text-center">Add a Blog Post</h5>
                <hr>
            </div>
        </div>

        <!-- Add Blogpost form -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 post-form mx-auto">
                <form method="POST" action="{% url 'add_blogpost' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                     {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}

                    <!-- Buttons -->
                    <div class="text-right mt-2">
                        <a class="btn btn-outline-teal rounded-0" href="{% url 'blog' %}">Cancel</a>
                        <button class="btn btn-teal rounded-0" type="submit">Add Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

<!-- Image text set-up -->
{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            let file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}