{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-4 mb-5">
    
    <!-- Header -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="header-font logo-font mb-4 text-center">My Comments</h2>
            <hr>
        </div>
    </div>

    <!-- Form  -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 rounded-0 shadow p-4">
            <h5 class="text-muted mb-4">Add a comment</h5>
            <form method="POST" action="{% url 'blog_comment' blogpost.id %}" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <div class="form-group">
                     <a class="btn btn-outline-teal rounded-0" href="{% url 'blog' %}">Cancel</a>
                    <button class="btn btn-teal rounded-0" type="submit"> Submit Comment
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
