{% extends "base.html" %}

{% block content %}
    <div class="container header-container accounts-container-min-width">
        <div class="overlay"></div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content mt-5 p-3 my-4 shadow rounded rounded">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
