{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
     <!--Favicon-->
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-32x32.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/apple-touch-icon.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-192x192.png' %}">
  
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Unique Wings {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <!-- Delivery Banner -->
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-color-black text-white">
            <h4 class="my-2 text-uppercase">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>
      <!-- Main Navigation Bar -->
      <div id="topnav" class="row bg-color-teal pt-lg-2 d-none d-lg-flex">
        <!-- Logo -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link nav-logo-link">
            <h2 class="logo-font"><img src="/media/butterfly-logo-white.png" class="btf-logo-nav btf-logo-display" alt="kat-maconie-parrot-shoe">Unique Wings</h2>
          </a>
        </div>
        <!-- Search Box -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <button class="form-control btn btn-search border-blue border rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
                <input class="form-control border rounded-0" type="text" name="q" placeholder="Search">
            </div>
          </form>
        </div>
        <!-- Right Site Menu: Contact -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item">
              <a class="nav-link" href="#" id="contact">
                <div class="text-center">
                  <div><i class="fas fa-envelope fa-lg"></i></div>
                  <p class="my-0">Contact</p>
              </a>
            </li>
             <!-- Right Site Menu: My Account -->
            <li class="list-inline-item dropdown">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <!-- Right Site Menu: Bag -->
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-pink font-weight-bold{% else %}nav-link{% endif %} nav-link" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        </div>
      </div>
       <!-- Mobile Main Navigation Bar -->
      <div class="row bg-teal pt-lg-flex">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
     
    </header>

    {% if messages %}
      <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white bg-color-teal" id="footer">
      <hr class="footer-hr">
      <section>
        <div class="container-fluid mx-auto">
          <hr class="white-divider mt-5">
          <div class="row">
            <!-- Left: usefull likns -->
            <div class="col-12 col-md-4 mx-auto">
              <h4><span class="text-uppercase footer-headers"><strong>Usefull Links</strong></span></h4>
              <p>
                <a href="" class="footer-item footer-link text-white">Blog</a>
              </p>
              <p>
                <a href="" class="footer-item footer-link text-white">Contact Us</a>
              </p>
            </div>
            <!-- Centre: newsletter -->
            <div class="col-12 col-md-4 mx-auto">
              <h4><span class="text-uppercase footer-headers"><strong>Newsletter</strong></span></h4>
              <p>Sign up to our monthly newsletter to get the exclusive on new arrivals, special offers </p>
                <form method="POST" action="" id="newsletter_form" class="mb-3">
                  <div class="form-group mx-auto mb-1 newsletter-signup"> 
                      <!--temporary e-mail field-->
                      <input type="email" id="email" name="email" placeholder="Enter your email address">
                  </div>
                  <button type="submit" class="btn btn-sm btn-white rounded-0 text-center">Sign Up</button>
                </form>
            </div>
            <!-- Right: social links -->
            <div class="col-12 col-md-4 mx-auto">
              <h4><span class="text-uppercase footer-headers"><strong>Social Media</strong></span></h4>
              <a href="https://facebook.com/" class="mx-2 text-white social-link footer-link" target="_blank" rel="noreferrer" aria-label="Follow us on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://twitter.com/" class="mx-2 text-white social-link footer-link" target="_blank" rel="noreferrer" aria-label="Follow us on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/" class="mx-2  text-white social-link footer-link" target="_blank" rel="noreferrer" aria-label="Follow us on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <hr class="white-divider">
          <!-- copyright -->
          <div class="row">
            <div class="col-12 pb-2 mx-auto copyright">
              copyright © 2021 Ewa Kukla For Educational Purposes Only
            </div>
          </div>
        </div>
      </section>
    </footer>
    {% block postloadjs %}
    {% endblock %}
  </body>
</html>