{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An online store with a passion for fashion where you can buy unique shoes
     and handbags with wings, birds, butterflies motifs, runs a blog about news and curiosities from the world of fashion">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
     <!--Favicon-->
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-32x32.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/apple-touch-icon.png' %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-192x192.png' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Unique Wings {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <!-- Delivery Banner -->
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-color-black text-white">
            <h4 class="my-2 text-uppercase">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>
      <!-- Main Navigation Bar -->
      <div id="topnav" class="row bg-color-teal pt-lg-2 d-none d-lg-flex">
        <!-- Logo -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link nav-logo-link">
            <h2 class="logo-font"><img src="{% static 'images/butterfly-logo-white.png' %}" class="btf-logo-nav" alt="unique wings logo">Unique Wings</h2>
          </a>
        </div>
        <!-- Search Box -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <div class="input-group-append">
                    <button class="form-control btn btn-search border-blue border rounded-0" type="submit" aria-label="search button" >
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
                <input class="form-control border rounded-0" type="text" name="q" placeholder="Search">
            </div>
          </form>
        </div>
        <!-- Right Site Menu: Contact -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'contact' %}" id="contact">
                <div class="text-center">
                  <div><i class="fas fa-envelope fa-lg"></i></div>
                  <p class="my-0">Contact</p>
                </div>
              </a>
            </li>
             <!-- Right Site Menu: My Account -->
            <li class="list-inline-item dropdown">
                <a class="nav-link" href="#" id="user-options-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options-menu">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="product management">Product Management</a>
                            <a href="{% url 'add_blogpost' %}" class="dropdown-item" aria-label="blog management">Blog Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item" aria-label="my profile">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="logout">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item" aria-label="register">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="log in">Login</a>
                    {% endif %}
                </div>
            </li>
            <!-- Right Site Menu: Bag -->
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-pink-bag font-weight-bold{% else %}nav-link{% endif %} nav-link" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        </div>
      </div>
       <!-- Mobile Main Navigation Bar -->
      <div class="row bg-teal pt-lg-flex">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
          {% with message.level as level %}
              {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
          {% endwith %}
      {% endfor %}
  </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    {% include 'includes/footer.html' %}
  
    {% block postloadjs %}
    <script >
      $('.toast').toast('show');
    </script>
    {% endblock %}
  </body>
</html>