<!-- CREDIT: Code from Boutique Ado project customized -->
{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Product Image -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank" rel="noopener">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <!-- Product Name, Price, Category, Rating, Description -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.avg_rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.avg_rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                <!-- Editing/Deleting links -->
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <!-- Delete Product Button Trigger Modal-->
                    <button type="button" class="btn text-pink delete-btn pb-1 p-0" data-toggle="modal" data-target="#deleteProduct-{{ product.id }}"> Delete</button>
                    <span class="separator"> | </span>
                    <a class="text-teal edit-btn px-0" href="{% url 'edit_product' product.id %}">Edit</a>
                </small>
                <!-- CREDIT: Modal for Delete Product Button from bootstrap customized -->
                <div class="modal fade" id="deleteProduct-{{ product.id }}" tabindex="-1"
                    aria-labelledby="deleteProductModal-{{ product.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteProductModal-{{ product.id }}">Alert!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete <strong class="text-pink"> {{ product.name }}</strong> product? </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-teal" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-pink px-2">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                <!-- Quantity Selecting, Adding Specific Product id To The Bag Form, Product Size -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                        {% if s %}
                        <div class="col-12">
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                <option value="35">UK2/EU35/US4</option>
                                <option value="36">UK3/EU36/US5</option>
                                <option value="37" selected>UK4/EU37/US6</option>
                                <option value="38">UK5/EU38/US7</option>
                                <option value="39">UK6/EU39/US8</option>
                                <option value="40">UK7/EU40/US9</option>
                                <option value="41">UK8/EU41/US10</option>
                                <option value="42">UK9/EU42/US11</option>
                                <option value="43">UK10/EU43/US12</option>
                                <option value="44">UK11/EU44/US13</option>
                                <option value="45">UK12/EU45/US14</option>
                                <option value="46">UK13/EU46/US15</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <!-- Decrement Quantity Button -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-teal rounded-0 decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}" aria-label="decrement quantity button">
                                            <span class="icon"><i class="fas fa-minus"></i></span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" aria-label="input-quantity-form">
                                    <!-- Increment Quantity Button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-teal rounded-0 increment-qty_{{ product.id }}" data-item_id="{{ product.id }}" aria-label="increment quantity button">
                                            <span class="icon"><i class="fas fa-plus"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'products' %}" class="btn btn-outline-teal btn-size btn-buttons rounded-0">
                                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-teal rounded-0 btn-buttons text-uppercase" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Review section --> 
<div class="container">
    <div class="col-sm-12">
        <div class="bg-white rounded shadow p-4 mb-4">
            <h3 class="mb-0 mb-2 logo-font comments-header text-center">Reviews</h3>
            <hr>
            <div class="row">
                {% if request.user.is_authenticated %}
                <div class="col-sm-12 d-flex justify-content-end">
                    <a href="{% url 'add_review' product.id %}" class="btn btn-teal rounded-0 mb-3">Add a Review</a>
                </div>
                {% else %}
                 <div class="col-sm-12 d-flex justify-content-center">
                <p class="text-center">Please <a class="comment-link" href="{% url 'account_signup' %}">Register</a> or 
                <a class="comment-link" href="{% url 'account_login' %}">Login</a> to leave a review.</p>
                </div>
                {% endif %}
                 <!-- renders all reviews that have been left for the product -->
                <div class="col-sm-12 pt-4 pb-4">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="row mt-3">
                        {% if review_user == review.user.user %}
                        <div class="col-12 d-flex justify-content-end">
                            <!-- Delete Review Comment Button Trigger Modal-->
                            <button type="button" class="btn text-pink delete-btn pt-1 px-1" data-toggle="modal" data-target="#deleteReview-{{ review.id }}">Delete</button>      
                            <span class="separator"> | </span> 
                            <a href="{% url 'edit_review' review.id %}" class="text-teal px-1 pt-1 edit-btn">Edit</a>
                        </div>
                        {% endif %}
                        <div class="col-12 d-flex flex-column">
                            <p class="rating text-right font-weight-bold ">rating: {{ review.rate }} / 5 <i class="far fa-star font-weight-bold"></i></p>
                            <p class="mb-1"><small>{{ review.date_posted }}</small></p>
                            <p class="font-weight-bold user-comment-font">{{ review.user }}</p>
                        </div>
                        <div class="col-12 pl-3">
                            <div>
                                <p>{{ review.comment }}</p>
                                <div>
                                    <hr class="hr-comment-color my-2">
                                    <p class="text-right"><img src="{% static 'images/butterfly-logo.png' %}" 
                                    class="btf-logo-blog btf-logo-blog-reverse btf-logo-blog-comment align-text-right" alt="butterfly-logo"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for Delete Review Comment -->
                    <div class="modal fade" id="deleteReview-{{ review.id }}" tabindex="-1" aria-labelledby="deleteReviewModal"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteReviewModal">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to  <strong class="text-pink">delete</strong> this review? </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-teal" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_review' review.id %}" class="btn btn-pink px-2">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                {% else %}
                    <p>This product does not currently have any rewiews</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back To Top Button-->
<div class="btt-btn btt-btn-color shadow-sm">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-alt-circle-up text-white arrow-size mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--Back to top button functionality with JS-->
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}